<!DOCTYPE html>
<html lang="en">
    <head> 
        <!--page title-->
        <title>MC NASA Swarmathon</title>
        <link rel="shortcut icon" href="../Resources/png/NASA Swarm Logo.png">        
        <meta name="viewport " content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8">
        <!--javascript loader-->
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="../Resources/css/PageLayout.css">

    </head>

    <body>
        <a href="#main-content" class="sr-only">Skip to main content</a>
        
            <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTopbar" aria-controls="navbarTopbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="../Resources/png/MontgomeryCollege Logo Test.png" alt="Montgomery College NASA Swarmathon"></a> <!-- "/" becomes the link to the Swarmathon home page-->
            <div class="collapse navbar-collapse" id="navbarTopbar">
                <div class="navbar-nav"> 
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="#">Students</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="#">News</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="#">Sponsors</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="#">Forum</a>
                        </li>
                    </ul>
                    <!--
                    <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">submit</button>
                    </form>
                    -->
                </div>
            </div>
        </nav>

        <div id="carouselMCSwarmMain" class="carousel slide" data-ride="carousel" data-interval:"5000">
            <ol class="carousel-indicators">
                <li data-target="#carouselMCSwarmMain" data-slide-to="0" class="active"></li>
                <li data-target="#carouselMCSwarmMain" data-slide-to="1"></li>
                <li data-target="#carouselMCSwarmMain" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img typeof="foaf:Image" src="../Resources/png/IMG_0450.JPG" alt="This is the caption for Slide 1" />
                    <div class="carousel-caption">
                        <h2 class="carousel-caption--title">Slide #1 Caption Title</h2>
                        <div class="carousel-caption-below">
                            <p>This is the text that can be placed below the caption title</p>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <img typeof="foaf:Image" src="../Resources/png/IMG_0463.JPG" alt="This is the caption for Slide 2" />
                    <div class="carousel-caption">
                        <h2 class="carousel-caption--title">Slide #2 Caption Title</h2>
                        <div class="carousel-caption-below">
                            <p>This is the text that can be placed below the caption title</p>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <img typeof="foaf:Image" src="../Resources/png/IMG_0491.JPG" alt="This is the caption for Slide 3" />
                    <div class="carousel-caption">
                        <h2 class="carousel-caption--title">Slide #3 Caption Title</h2>
                        <div class="carousel-caption-below">
                            <p>This is the text that can be placed below the caption title</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>
        
</html>
